html {
    overflow: hidden;
}

/*-------------SVG 1 CSS ROZE-------------*/

#Layer_1 {
    animation: falling 1s, rotate 2s;
    -webkit-animation: falling 11s, rotate 5s;
    animation-iteration-count: infinite;
}

@keyframes falling {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate {
    0% {-webkit-transform: rotateX(0deg);}
    100%{-webkit-transform: rotateX(360deg);}
}

/*-------------SVG 2 CSS BLAUW-------------*/

#Layer_2 {
    left: 80%;
    animation: falling2 1s, rotate2 2s;
    -webkit-animation: falling2 10s, rotate2 5s;
    animation-iteration-count: infinite;
}

@keyframes falling2 {
    0% {bottom: 100%;}
    100%{bottom: 0%;}
}

@keyframes rotate2 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(360deg);}
}

/*-------------SVG 3 CSS GROEN-------------*/

#Layer_3 {
    left: 30%;
    animation: falling3 1s, rotate3 2s;
    -webkit-animation: falling3 12s, rotate3 5s;
    animation-iteration-count: infinite;
}

@keyframes falling3 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate3 {
    0% {-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(360deg);}
}

/*-------------SVG 4 CSS BLAUW-------------*/

#Layer_4 {
    width: 10vw;
    height: auto;
    left: 10%;
    animation: falling4 1s, rotate4 2s;
    -webkit-animation: falling4 12s, rotate4 6s;
    animation-iteration-count: infinite;
}

@keyframes falling4 {
    0% {bottom: 100%;}
    100%{bottom: 500%;}
}

@keyframes rotate4 {
    0% {-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(360deg);}
}

/*-------------SVG 5 CSS ROZE-------------*/

#Layer_5 {
    width: 23vw;
    height: auto;
    left: 100%;
    animation: falling5 1s, rotate5 2s;
    -webkit-animation: falling5 10s, rotate5 3s;
    animation-iteration-count: infinite;
}

@keyframes falling5 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate5 {
    0% {-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(360deg);}
}

/*-------------SVG 6 CSS GROEN-------------*/

#Layer_6{
    width: 15vw;
    height: auto;
    left: 60%;
    animation: falling6 1s, rotate6 2s;
    -webkit-animation: falling6 11s, rotate6 10s;
    animation-iteration-count: infinite;
}

@keyframes falling6 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate6 {
    0% {-webkit-transform: rotateX(0deg);}
    100%{-webkit-transform:rotateX(720deg);}
}

/*-------------SVG 7 CSS GROEN-------------*/

#Layer_7{
    left: 50%;
    animation: falling7 1s, rotate7 2s;
    -webkit-animation: falling7 10s, rotate7 10s;
    animation-iteration-count: infinite;
}

@keyframes falling7 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate7{
    0% {-webkit-transform: rotateX(0deg);}
    100%{-webkit-transform:rotateX(720deg);}
}

/*-------------SVG 8 CSS GROEN-------------*/

#Layer_8{
    width: 7vw;
    height: auto;
    left: 90%;
    animation: falling8 1s, rotate8 2s;
    -webkit-animation: falling8 12s, rotate8 10s;
    animation-iteration-count: infinite;
}

@keyframes falling8 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate8 {
    0% {-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform:rotateZ(720deg);}
}

/*-------------SVG 9 CSS GROEN-------------*/

#Layer_9{
    left: 80%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 10s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling9 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate9 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_10{
    left: 34%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 10s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling10 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate10 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_11{
    left: 12%;
    width: 15vw;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 10s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling11 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate11 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}


#Layer_12 {
    left: 45%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 10s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling12 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate12 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_13 {
    left: 21%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 4s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling13 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate13 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_14 {
    left: 69%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 8s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling14 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate14 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_15 {
    left: 4%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 3s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling15 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate15 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_16 {
    left: 35%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 5.3s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling16 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate16 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_17 {
    left:77%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 7s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling17 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate17 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_18 {
    left: 44%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 8s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling18 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate18 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_19 {
    left: 65%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 5s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling19 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate19 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}

#Layer_20 {
    left: 54%;
    animation: falling9 1s, rotate9 2s;
    -webkit-animation: falling9 12s, rotate9 10s;
    animation-iteration-count: infinite;
}

@keyframes falling20 {
    0% {bottom: 100%;}
    100%{bottom: -0;}
}

@keyframes rotate20 {
    0% {-webkit-transform: rotateY(0deg);}
    100%{-webkit-transform:rotateY(720deg);}
}
/*MAIN SVG CSS*/

svg {
    width: 14vw;
    height: auto;
    position: absolute;
    bottom: auto;
    animation-delay: 0s;
    animation-fill-mode: forwards, both;
}


/* UWU Child delay */
#Layer_1 {animation-delay: .3;}
#Layer_2 {animation-delay: .6s;}
#Layer_3 {animation-delay: .5s;}
#Layer_4 {animation-delay: 1.0s;}
#Layer_5 {animation-delay: 1.3s;}
#Layer_6 {animation-delay: 1.2s;}
#Layer_7 {animation-delay: 1.6s;}
#Layer_8 {animation-delay: 1.3;}
#Layer_9 {animation-delay: 5s;}
#Layer_10 {animation-delay: 2.1s;}
#Layer_11 {animation-delay: 6;}
#Layer_12 {animation-delay: 4;}
#Layer_13 {animation-delay: 2s;}
#Layer_14 {animation-delay: 8s;}
#Layer_15 {animation-delay: 2.1s;}
#Layer_16 {animation-delay: 6;}
#Layer_17 {animation-delay: 4;}
#Layer_18 {animation-delay: 2s;}
#Layer_19 {animation-delay: 8s;}
#Layer_20 {animation-delay: 12s;}
body {
    width: 100%;
}